//Variables Assignment

//Colors
$red-header-color : #E63946;
$blue-background:rgb(168,218,220,0.4);
$motto-color:#457B9D;
$hover-background-color:rgb(230,57,70,0.5);
$active-color:#0EABF3;
$footer-background-color:#A8DADC;

//Font Styles
$motto-font-style: "Open Sans", sans-serif;
$branch-font-style:'Pattaya', sans-serif;
$headings-font-style:'Playfair Display', serif;
$content-font-style:'Roboto', sans-serif;

//Tools
$box-shadow-margin:10px 5px 5px rgb(168,218,220,0.4);
$border-radius-px:10px;

//Brake Points
$mid-width-size:37.5em;
$large-width-size:72em;